@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
/* Usar o Google Fonts para encontrar diferentes tipos de fontes! */

:root {
    --cor-primaria: #222831 /*#000000*/;
    --cor-secundaria: #EEEEEE/*#F6F6F6*/;
    --cor-terciaria: #22D4FD;
    --cor-hover: #393E46 /*#272727*/;
    
    --fonte-principal: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

.cabecalho {
    padding: 1% 0% 1% 0% ;
    width: 530px;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
    padding: 2%;
}

.cabecalho__menu__link {
    font-family: var(--fonte-principal);
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
    list-style-type: none;
}

.cabecalho__menu__link:hover {
    color: white;
}

body {
    background-color: var(--cor-primaria);
    color: var(--cor-terciaria);
}

.container {
    display: flex;
    padding-bottom: 100px;
    padding-top: 100px;
}

.container__image {
    width: 35%;
}

.container__texto {
    font-family: var(--fonte-principal);
    text-align: center;
    justify-content: center;
    padding: 5em;
    color: var(--cor-secundaria);
}

.container__texto__titulo {
    font-size: 40px;
}

.container__texto__lista {
    list-style-type: none;
    padding-right: 10px;
}

.container__texto__lista__item {
    padding: 5px;
}

.receita {
    display: flex;
    flex-direction: column;
}

.receita__titulo {
    text-align: center;
    color: var(--cor-secundaria);
}

.receita__ingredientes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: var(--fonte-principal);
    color: var(--cor-secundaria);
}

.receita__ingredientes__lista__item {
    padding: 2px;
    font-family: var(--fonte-secundaria);
}

.receita__imagem {
    display: flex;
    justify-content: center;
}

.receita__imagem__lista {
    margin: 5px;
    border-style: solid;
    border-color: var(--cor-secundaria);
}

.receita__preparo {
    text-align: center;
    color: var(--cor-secundaria);
}

.receita__preparo__lista {
    display: flex;
    flex-direction: column;
    list-style-position: inside;
}

.receita__preparo__lista__item {
    align-items: center;
    padding: 5px;
}

.tarefas {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.tarefas__titulo {
    text-align: center;
    color: var(--cor-secundaria);
    padding-top: 50px;
}

.tarefas__lista {
    text-align: center;
    color: var(--cor-secundaria);
    padding-top: 50px;
    padding-bottom: 50px;
}

.tarefas__lista__bloco {
    display: flex;
    flex-direction: column;
    list-style-position: inside;
    padding: 0;
}

.tarefas__lista__item {
    font-family: var(--fonte-secundaria);
    align-items: center;
    padding: 5px;
}

.tarefas__imagem {
    display: flex;
    justify-content: center;
}

.tarefas__imagem__item {
    margin: 5px;
    border-style: solid;
    border-color: var(--cor-secundaria);
    margin-bottom: 100px;
}

.rodape {
    text-align: center;
}

.rodape__texto {
    padding-bottom: 5px;
    padding-left: 40px;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.lista__link a{
    color: var(--cor-secundaria);
    background-color: var(--cor-primaria);
    border-color: var(--cor-terciaria);
    text-decoration: none;
    margin-left: 1em;
    padding: 10px;
    border-style: solid;
    border-radius: 5px;
}

.lista__link:hover a{
    background-color: var(--cor-hover);
}