:root {
    --cinza-principal: #222831;
    --cinza-secundario: #31363F;
    --azul-terciario: #76ABAE;
    --branco-quartenario: #EEEEEE;
}

.body {
    background-color: var(--cinza-principal);
}

.container {
    display: flex;
}

.container__texto {
    text-align: center;
    padding: 5em;
}

.container__texto_titulo {
    font-size: 50px;
}

.container__texto__lista {
    marker: none;
}

.rodape {
    text-align: center;
}

.rodape__lista {
    padding-right: 4em;
    color: black;
    font-size: 14px;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
    
}

.lista__link a{
    color: black;
    text-decoration: none;
    margin-left: 1em;
    padding: 10px;
}